@import '../../../../styles/vars.scss';

.modal {
	&__overlay {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgba($color_black, .64);
	}

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 600px;
		padding: 30px;
		background-color: $color_white;
		border-radius: 8px;
		z-index: 10;
	}
}
