<div class="app">
	<div class="scheme">
		<div class="app__post-form">
			<post-form
				(onClickPostButton)="addNewPost($event)"
			></post-form>
		</div>

		<div
			class="app__posts"
			*ngIf="posts.length > 0; else postEmpty"
		>
			<div
				class="app__post"
				*ngFor="let post of posts"
			>
				<post
					[post]="post"
					(clickEditButton)="onClickEditPost(post)"
					(clickDeleteButton)="onClickDeletePost(post)"
				></post>
			</div>
		</div>

		<div class="app__post-empty">
			<ng-template #postEmpty>
				<post-empty></post-empty>
			</ng-template>
		</div>

		<div
			class="app__modal"
			*ngIf="currentPost && isEditModalVisible"
		>
			<modal (clickOverlay)="onCloseModal($event)">
				<post-edit
					[currentPost]="currentPost"
					(clickSaveButton)="onSavePost($event)"
					(clickCancelButton)="onCloseModal($event)"
				></post-edit>
			</modal>
		</div>
	</div>
</div>
