.post-edit {
	&__title {
		text-align: center;
		margin-bottom: 32px;
	}

	&__input {
		margin-bottom: 16px;
	}

	&__action {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}
